# Dependency directories
**/node_modules/

# Build outputs
**/build/
**/dist/

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# IDE and editor folders
.idea/
.vscode/
*.swp
*.swo

# Optional npm cache & logs
.npm
*.log

# Optional eslint cache
.eslintcache

# Optional MacOS folder attributes
.DS_Store

# Optional Windows folder attribute files
Thumbs.db
Desktop.ini

# Optional JetBrains IDE files
.idea/
*.iml
*.ipr
*.iws

